.watched-span-container {
  opacity: 1;
    text-align: left;
  background: #E50914;
  display: block;
}

.watched-span-container span {
  color: #FFFFFF,
  font-size: 1em;
}

.watched-button {
  margin-left: 2vw;
}