.watched-span-container {
  opacity: 1;
    text-align: left;
  background: #E50914;
  display: block;
}

.watched-span-container span {
  color: #FFFFFF,
  font-size: 1em;
}

.jawbone-watch-button {
	border-radius: 0.3rem;
    padding-left: calc(3.6rem / 2);
    padding-right: calc(3.6rem / 2);
    padding: 0.6rem;
    cursor: pointer;
    color: #fff;
    display: flex;
    border: 0;
    margin-right: 1rem;
}

.watched-container {
  height: 0px;
  transition: all .3s ease;
}

.grid {
  display: grid;
  grid-gap: 2vh; 
  grid-auto-columns: 1.52vh;
  grid-template-rows: repeat(2, 17.6vh);
  grid-auto-flow: row;
}

.watched-item {
  width: 100%;
}

.watched-container.expand {
  height: 300px;
} 